.App {
  width: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  width: 40%;
  border: 1px solid rgba(170, 170, 170, 0.26);
  border-radius: 5px;
  box-shadow: 2px 3px rgba(170, 170, 170, 0.521);
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

.container:hover {
  cursor: pointer;
}

.heading > h1 {
  text-align: center;
  color: tomato;
  font-weight: 700;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
}

.heading {
  width: 100%;
}

.coverimg > img {
  width: 500px;
  height: 250px;
}

.description {
  box-sizing: border-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.description:hover {
  color: rgba(255, 0, 0, 0.548);
  text-decoration: underline;
}

.footer {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.705);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(199, 198, 198);
  text-transform: uppercase;
}

.tabColumn > h3 {
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.555);
}

.tabColumn > p {
  text-transform: uppercase;
  font-weight: bold;
}

.tabColumn > p:hover {
  cursor: pointer;
}

.copyright {
  text-align: center;
  background-color: lightgrey;
}

.copyright > p {
  margin: 0;
  padding: 5px;
}
